# Question 1

In [1]:
import pandas as pd

code segment to create the same dataframe from a list of lists

In [17]:
data = [['Array', 20, 4], ['Stack', 6, 20], ['Queue', 19, 14]]
df = pd.DataFrame(data, index =['Cat_1', 'Cat_2', 'Cat_3'], columns = ['Area', 'Student1', 'Student2'])

In [18]:
df.head()

        Area  Student1  Student2
Cat_1  Array        20         4
Cat_2  Stack         6        20
Cat_3  Queue        19        14

# Question 2

In [19]:
d = {'one': pd.Series([1,2], index  = ['a','e']), 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d, index = ['d', 'b', 'a'])
print(df)

   one  two
d  NaN    3
b  NaN    1
a  1.0    0

# Question 3

In [21]:
import numpy as np

In [46]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])

In [47]:
df.head()

                   A         B         C         D
2000-01-01  0.720651  1.337476  1.343926 -0.563124
2000-01-02 -0.478600  0.090032  0.933961 -0.267301
2000-01-03  0.927854 -0.681267  0.603005 -1.973128
2000-01-04 -1.109770 -0.155889  0.565789 -0.388485
2000-01-05  0.598164  1.434657 -1.422607  0.045814

In [48]:
df['sumAB'] = df['A'] + df['B']
df.head()

                   A         B         C         D     sumAB
2000-01-01  0.720651  1.337476  1.343926 -0.563124  2.058127
2000-01-02 -0.478600  0.090032  0.933961 -0.267301 -0.388568
2000-01-03  0.927854 -0.681267  0.603005 -1.973128  0.246587
2000-01-04 -1.109770 -0.155889  0.565789 -0.388485 -1.265659
2000-01-05  0.598164  1.434657 -1.422607  0.045814  2.032820

Write a code segment that prints last two rows of df that statisfy column A+column B>Column C.

In [49]:
df.loc[df.sumAB > df.C,:].iloc[-2:,:]

                   A         B         C         D     sumAB
2000-01-07  1.865249  0.735679  1.718626 -1.200623  2.600928
2000-01-08  0.466277  0.853300  0.692572 -0.855290  1.319577

# Question 4

In [50]:
df=pd.DataFrame({'Date':['1/2/2011','1/3/2011','1/4/2011','1/5/2011', '1/6/2011'],
                 'Event': ['Music', 'Poetry', 'Music', 'Music', 'Poetry']})

Write a single line of code to add a new column called ‘Price’ to the dataframe df. Set the price to 1500 if the ‘Event’ is ‘Music’ else 800.

In [60]:
#Adding a new column named 'Price'
df['Price'] = [1500 if x =='Music' else 800 for x in df['Event']]

In [61]:
print(df)

       Date   Event  Price
0  1/2/2011   Music   1500
1  1/3/2011  Poetry    800
2  1/4/2011   Music   1500
3  1/5/2011   Music   1500
4  1/6/2011  Poetry    800

# Question 5

In [63]:
record = {'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
  	    'Age': [21, 19, 20, 18, 17, 21], 'Percent': [88, 92, 95, 70, 65, 78],
  	    'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science']}
dataframe = pd.DataFrame(record,columns=['Name','Age','Stream','Percent'])

Write a code segment to select all the rows from the given dataframe in which ‘Age’ is equal to 21 and ‘Stream’ is either Science or Math using .loc[].

In [78]:
options = ['Math', 'Science']
result = dataframe.loc[(dataframe['Age'] == 21) & dataframe['Stream'].isin(options)]
result.head()

      Name  Age   Stream  Percent
0    Ankit   21     Math       88
5  Shaurya   21  Science       78

# Question 6

In [66]:
%cd/content/drive/MyDrive/scientificprogramming

/content/drive/MyDrive/scientificprogramming

In [67]:
df = pd.read_csv('abalone.data',header=None,names=['sex','length','diameter','height','weight','shucked_weight','viscera_weight','shell_weight','rings'])
X = df[['length']].to_numpy()
y = df['rings'].to_numpy()
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

Above is an example of training a regression model predicting the age of an abalone given its length feature. Modify this code segment to train a new regression model using 'diameter', 'viscera_weight' and 'diameter'^2/'viscera_weight' (i.e. 'diameter' squared divided by 'viscera_weight') as additional features.

In [68]:
df.head()

,sex,length,diameter,height,weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [69]:
df['diameter_square']=np.power((df['diameter']),2)
df.head()

,sex,length,diameter,height,weight,shucked_weight,viscera_weight,shell_weight,rings,diameter_square
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0.133225
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0.070225
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0.176400
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0.133225
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0.065025

In [70]:
df['diameter_square/viscera_weight'] = df['diameter_square']/df['viscera_weight']
df.head()

,sex,length,diameter,height,weight,shucked_weight,viscera_weight,shell_weight,rings,diameter_square,diameter_square/viscera_weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0.133225,1.319059
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0.070225,1.447938
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0.176400,1.246643
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0.133225,1.168640
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0.065025,1.646203

In [74]:
df_new = df[['sex','length','diameter','height','weight','shucked_weight','viscera_weight','shell_weight','rings','diameter_square/viscera_weight']]

In [75]:
df_new.head()

,sex,length,diameter,height,weight,shucked_weight,viscera_weight,shell_weight,rings,diameter_square/viscera_weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,1.319059
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,1.447938
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,1.246643
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,1.168640
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,1.646203

In [76]:
X = df_new[['length']].to_numpy()
y = df_new['rings'].to_numpy()
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

# Question 7

In [77]:
import torch
# Features are 3 random normal variables
features = torch.randn((1, 3))
# Define the size of each layer in our network
# Number of input units, must match number of input features
n_input = features.shape[1]     
n_hidden = 2         # Number of hidden units
n_hidden_2 = 5         #New hidden layer with 5 units
n_output = 1                # Number of output units
# Weights for inputs to hidden layer
W1 = torch.randn(n_input, n_hidden)  
# Weights for hidden layer to output layer
W2 = torch.randn(n_hidden, n_output)
# calculate the output for this multi-layer network using the weights W1 & W2. 
h = activation(torch.mm(features, W1))
output = activation(torch.mm(h, W2))
output = activation(torch.mm(h, W2),bias=True) #adding bias
print(output)

NameError: ignored